h1,h2,h3,h4,h5,h6{
    font-family: 'Amiko', sans-serif;
}

p{
    font-family: 'Fira Sans', sans-serif;
}


html, body {
  height: 100%;
  overflow-x: hidden;
}

header {
	background-color: #000000;
	height: 60px;
}
footer {
	background-color: #000000;
	height: 100px;
}

.logo {
	margin-top: 12px;
	margin-left: 15px;
}

.main-container {
	min-height: calc( 100% - 160px );
}

.page-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px;
}

.home-page .page-container {
	max-width: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 767px)
{
	.page-container {
		padding: 20px;
	}
	
}


.main-banner {
	background-color: #ffff00;
	height: 160px;
}

.btn-signup {
	border: 1px solid #ffffff;
	border-radius: 5px;
	color: #ffffff;
	margin-top: 10px;
	margin-right: 20px;
}

.btn-signup:hover{
	color: #ffffff;
}



#headerTxt{
    height: 80px;
}

#about p{
    line-height: 2em;
    text-align: justify;
}

#about h1, #about h3 {
    text-align: center;
}

.footerCol{
    text-align: center;
}

.jumbotron{
	margin-bottom: 0px;
	background-image: linear-gradient(rgba(50, 50, 50, 0.65), rgba(50, 50, 50, 0.65)),
        /* Image from: https://www.pexels.com/photo/adult-beard-beverage-blur-590516/*/
        url('../images/adult-asking-beard-590516.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: top;
	color: white;
	
}

.forgot-password a {
	color: #ffffff;
}

.forgot-password a:hover {
	color: #ffffff;
}