h1,h2,h3,h4,h5,h6{
    font-family: 'Amiko', sans-serif;
}

p{
    font-family: 'Fira Sans', sans-serif;
}


html, body {
  height: 100%;
  overflow-x: hidden;
}

header {
	background-color: #0a1933;
	height: 60px;
}
footer {
	background-color: #0a1933;
	height: 100px;
}

.logo {
	margin-top: 12px;
	margin-left: 15px;
}

.main-container {
	min-height: calc( 100% - 160px );
}

.page-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px;
}

.home-page .page-container {
	max-width: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 767px)
{
	.page-container {
		padding: 20px;
	}
	
}

.btn-primary {
	background-color: #0a1933;
    border-color: #0a1933;	
}

.btn-primary:hover {
	background-color: #070923;
    border-color: #070923;	
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background-color: #070923;
    border-color: #070923;	
}

.form-section {
	font-weight: bold;
	margin: 30px 0 10px 0;
	color: #0a1933;
}

.signin-button {
	width: 100%;
}


.home-text-spacer {
	flex: 0 0 5%;
	max-width: 5%;
}

.home-text-content {
	background:rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 20px;
	flex: 0 0 42.5%;
	max-width: 42.5%;
	text-align: center;
}

@media (max-width: 990px)
{
	.home-text-spacer {
		display: none;
	}
	
	.home-text-content {
		flex: 0 0 100%;
		max-width: 100%;
		border-radius: 0;
	}
	
	.home-text-content-two {
		margin-top: 20px;
	}
	
}


/*
	Image source: https://www.pexels.com/photo/photo-of-group-of-people-in-a-meeting-1661004/
*/
.main-banner {
	height: 230px;
	background-image: url(/images/page_banner.jpg);
	background-size: cover;
}

.page-banner-text-outer {
	display: table; 
	width: 100%;
}	


.page-banner-text {
	height: 230px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.main-banner h1{
	color: #ffffff;
	font-size: 3.2em;
	margin: 0;
}


.btn-signup {
	border: 1px solid #ffffff;
	border-radius: 5px;
	color: #ffffff;
	margin-top: 10px;
	margin-right: 20px;
}

.btn-signup:hover{
	color: #ffffff;
}



#headerTxt{
    height: 80px;
}

#about p{
    line-height: 1.6em;
}

#about h1, #about h3 {
    text-align: center;
}

.jumbotron{
	margin-bottom: 0px;
	background-image: linear-gradient(rgba(50, 50, 50, 0.65), rgba(50, 50, 50, 0.65)),
        /* Image from: https://www.pexels.com/photo/adult-beard-beverage-blur-590516/*/
        url('../images/adult-asking-beard-590516.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: top;
	color: white;
	
}

.forgot-password a {
	color: #ffffff;
}

.forgot-password a:hover {
	color: #ffffff;
}

/* home.php */
#dashboard img{
	max-height: 100px;
	max-width: 100px;
}

#dashboard .card:hover{
	border-color: #0a1933;
}



#manageSkillSelector{
	border-color: #0a1933;
}

.manage-skills .main-form, .skill-add-button {
	display: none;
}

.skill-add-button {
	text-align: right;
	padding-top: 30px;
}


.skill-manage-add-error {
	text-align: center;
	color: #ff0000;
	margin-bottom: 10px;
}

.skill-manage-skills-loading {
	display: none;
	font-size: 3em;
	text-align: center;
	padding-top: 60px;
	
}

.skill-manage-skills-list {
	display: none;
}

.skill-manage-skills-list .card {
	margin-top: 10px;
}

.skill-manage-edit-delete {
	text-align: right;
}


.skill-manage-edit, .skill-manage-delete {
	margin: 0 6px;
	display: inline-block;
	cursor: pointer;
}